#login_form{
	display: block;
	margin: 25% auto;
	width: 350px;
	height: 275px;
	background-color: #736256;
	border-radius: 8px;
}

#login_form h1{
	text-align: center;
}

#login_form input:not([name='submit']){
	width: 90%;
	display: block;
	margin: 25px auto;
	line-height: 48px;
	font-size: 30px;
	border-radius: 8px;
	border: 1px solid #D1DA9F;
}

[name=username]{
	display: inline-block;
	margin-top: 25px;
}

[name=password]{
	display: inline-block;
	top: 50px;
}

#login_error{
	display: block;
	width: 63%;
	margin: 0 auto;
	margin-top: -250px;
	color: red;
}
